/*
Theme Name: Right Now
Theme URI: http://www.renklibeyaz.com/rightnowwp/
Description: Full background Image and Video with Audio
Author: RenkliBeyaz - Salih Ozovali
Version: 1.1.0

Tags: Default

License:
License URI:

You can add your custom styles to this css file. RightNow uses style.php file for dynamic styles.

*/
@font-face {
  font-family: league_gothic;
  src: url('fonts/league_gothic.otf');
}
@font-face {
  font-family: 'Terminal Dosis';
  src: url('fonts/TerminalDosis-Medium.ttf');
}
@font-face {
  font-family: 'Terminal Dosis';
  src: url('fonts/TerminalDosis-ExtraBold.ttf');
  font-weight: bold;
}

.alignleft{
  float: left;
  margin: 10px;
  border: none;
}
  
.aligncenter {
  margin: 10px auto;
  display: block;
  border: none;
}

.alignright {
  float: right;
  margin: 10px;
  border: none;
}

.gallery-caption {}
.bypostauthor {}

.wp-caption { background: #fff; padding: 10px;}
.wp-caption-text { font-style: italic; font-size: 10px;}
.sticky { background: rgba(255,255,255,0.1);}

#bgImageWrapper #jwVideo {
  top: 0 !important;
}
#bgImageWrapper #jwP_wrapper {
  z-index: 999;
  margin: 0 auto;
}

a.btnCtrl:link, a.btnCtrl:visited {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}
a.btnCtrl:hover {
  background-color: #14051b;
}

#logo {
  display: block;
  float: none;
  position: absolute;
  background: none;
  top: 40px;
  left: 40px;
}

#logo img {
  width: 120px;
}


.slogan {
  text-align: left;
  position: absolute;
  left: 40px;
  bottom: 180px;
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px rgba(0, 0, 0, .5);
}

.slogan .h2-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #dd0511;
}
.slogan .h3-title {
  color: white;
  optacity: 0.5;
  font-weight: bold;
  font-size: 20px;
}

#bgControl {
  background-color: #000;
  height: 20px;
  right: 0;
}

#bgControlCount {
  line-height: 20px;
}

#menu-container {
  border-left: none;
  top: 125px;
  left: 40px;
}

#mainmenu {
  margin-left: 0;
}

#mainmenu ul > li {
  margin-bottom: 10px
}

#mainmenu ul ul li {
}

#mainmenu ul li a span.title {
  font-size: 18px;
}

#menu-tedaa {
  position: relative;
}

#bgText {
  display: none !important;
  background: rgba(104, 97, 97, 0.5);
  padding: 20px 10px 30px;
}
#bgText .headerText {
  padding-top: 0;
  font-size: 20px;
  text-shadow: none;
  font-family: 'Terminal Dosis', sans-serif;
  color: #db0511;
}
#bgText .subText {
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
  color: white;
}

#content, #contentBoxScroll {
  z-index: 999;
}

#bgImages {
  z-index: 9999;
}

.lang-tab {
  z-index: 99;
  color: red;
  position: absolute;
  bottom: 150px;
  left: 40px;
  text-shadow: 0 1px rgba(0, 0, 0, .25);
}

.lang-tab li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  line-height: 1em;
}

.lang-tab .en {
  border-right: 1px solid #dd0511;
}

.lang-tab a {
  color: #dd0511;
  text-decoration: none;
}

#footer {
  z-index: 9999;
}

#bgImages li.active img.thumb {
  border-top: 3px solid red;
}

#menu-container {
  z-index: 999;
}

#bgPattern {
  background: none;
}

#comments {
  display: none;
}

.news {
 margin: 0 auto;
 width: 600px;
 line-height: 30px;
 height: 30px;
}

#share, #footeraudio {
 margin-top: 5px
}

#footertext {
  font-size: 12px;
}

.hoverWrapper .modal,
.hoverWrapper .modalVideo {
  right: 15px; !important
}

#contentBoxContainer div ,
#contentBoxContainer p {
  text-align: justify
}
