/*CSS for setting 1*/
.cycle li {
  width:100%;
  vertical-align:middle;
  padding-top:5px;
}
.cycle a,
.cycle a:link,
.cycle a:visited,
.cycle a:hover {
  text-decoration: none;
}
/*CSS for setting 1*/
